<ul>
  <li>
    <%= link_to "About GEEB and Agenda GEEB", about_path %>
  </li>
  <li>
    <%= link_to "GEEB on Telegram", geeb_path %>
  </li>
  <li>
    <%= link_to "Our Team", team_path %>
  </li>
  <li>
    <%= link_to "F.A.Q", faqs_path %>
  </li>
  <li>
    <%= link_to "Terms of Use", terms_path %>
  </li>
  <li>
    <%= link_to "Suggestions", suggestions_path %>
  </li>
  <li>
    <%= link_to "Testimonials", testimonials_path %>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Membros", members_path %>
    </li>
    <li>
      Bem vindo, <%= current_user.email %>
    </li>
    <li>
      <%=link_to "Sair", destroy_user_session_path, method: :delete %>
    </li>
  <% else %>
    <li>
      <%= link_to "Login", new_user_session_path %>
    </li>
  <% end %>
</ul>