<% if current_page?(controller: "pages", action: "index") %>
<!-- hero area -->
  <section class="hero-area bg-agenda" id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h1 class="text-white font-tertiary">Bem vindo ao <br> Agenda GEEB</h1>
        </div>
      </div>
    </div>
    <div class="layer-bg w-100">
      <%= image_tag ("illustrations/leaf-bg.png"), class: "img-fluid w-100", alt: "bg-shape" %>
    </div>
    <div class="layer" id="l2">
      <%= image_tag ("illustrations/dots-cyan.png"), alt: "bg-shape" %>
    </div>
    <div class="layer" id="l3">
      <%= image_tag ("illustrations/leaf-orange.png"), alt: "bg-shape" %>
    </div>
    <div class="layer" id="l4">
      <%= image_tag ("illustrations/dots-orange.png"), alt: "bg-shape" %>
    </div>
    <div class="layer" id="l5">
      <%= image_tag ("illustrations/leaf-yellow.png"), alt: "bg-shape" %>
    </div>
    <div class="layer" id="l6">
      <%= image_tag ("illustrations/leaf-cyan.png"), alt: "bg-shape" %>
    </div>
    <div class="layer" id="l7">
      <%= image_tag ("illustrations/dots-group-orange.png"), alt: "bg-shape" %>
    </div>
    <div class="layer" id="l8">
      <%= image_tag ("illustrations/leaf-pink-round.png"), alt: "bg-shape" %>
    </div>
    <div class="layer" id="l9">
      <%= image_tag ("illustrations/leaf-cyan-2.png"), alt: "bg-shape" %>
    </div>
    <!-- social icon -->
    <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
      <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-facebook"></i></a></li>
      <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-instagram"></i></a></li>
      <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-dribbble"></i></a></li>
      <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-twitter"></i></a></li>
    </ul>
    <!-- /social icon -->
  </section>
  <!-- /hero area -->
<% else %>
  <section class="hero-area-internas bg-agenda">
  </section>
<% end %>
