
<%= simple_form_for @member, html: {multipart: true} do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.file_field :picture %>
    <%= f.input :name, label: "Nome" %>
    <%= f.input :email,  placeholder: 'user@domain.com' %>
    <%= f.input :birthdate, as: :date, order: [:day, :month, :year], start_year: Date.today.year - 71, end_year: Date.today.year, label: "Data de nascimento" %>
    <%= f.input :phone, label: "Telefone", input_html: { 'data-mask':'(00) 00000-0000'}%>
    <%= f.input :cep, label: "CEP", input_html: { 'data-mask':'00000-000'} %>
    <%= f.input :street, label: "Rua" %>
    <%= f.input :number, label: "Número" %>
    <%= f.input :neighborhood, label: "Bairro" %>
    <%= f.input :country, label: "País" %>
    <%= f.input :city, label: "Cidade" %>
    <%= f.input :state, label: "Estado" %>
    <%= f.input :complement, label: "Complemento" %>
    <%= f.input :facebook %>
    <%= f.input :instagram %>
    <%= f.input :linkedin %>
    <%= f.input :bio %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
