<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Birthdate</th>
      <th>Phone</th>
      <th>Cep</th>
      <th>Street</th>
      <th>Number</th>
      <th>Neighborhood</th>
      <th>Country</th>
      <th>City</th>
      <th>State</th>
      <th>Complement</th>
      <th>Facebook</th>
      <th>Instagram</th>
      <th>Linkedin</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= member.birthdate %></td>
        <td><%= member.phone %></td>
        <td><%= member.cep %></td>
        <td><%= member.street %></td>
        <td><%= member.number %></td>
        <td><%= member.neighborhood %></td>
        <td><%= member.country %></td>
        <td><%= member.city %></td>
        <td><%= member.state %></td>
        <td><%= member.complement %></td>
        <td><%= member.facebook %></td>
        <td><%= member.instagram %></td>
        <td><%= member.linkedin %></td>
        <td><%= member.bio %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
